/*------------------------------------*\
    $EQUAL HEIGHT COLUMS
\*------------------------------------*/

@media (min-width: 1024px){
    .row-eq-height {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
    }
}

/*------------------------------------*\
    $TOP MENU
\*------------------------------------*/

.menu-top{
    left: 320px;
}
.menu-top ul{
    margin-bottom: 0;
}
@media (min-width: 1650px){
    .menu-top ul li{
        padding-left: 200px;
    }
}
@media (max-width: 1650px){
    .menu-top ul li{
        padding-left: 150px;
    }
}
@media (max-width: 1450px){
    .menu-top ul li{
        padding-left: 100px;
    }
}
@media (max-width: 1250px){
    .menu-top ul li{
        padding-left: 50px;
    }
}
@media (max-width: 1050px){
    .menu-top ul li{
        padding-left: 0;
    }
}    
@media (max-width: 850px){
    .menu-top ul li{
        margin-left: -10px;
    }
} 

/*------------------------------------*\
    $SIDE MENU
\*------------------------------------*/

.sidebar-nav {
    display: block;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}
    .sidebar-nav li {
      line-height: 40px;
      text-indent: 20px;
    }
        .sidebar-nav li a {
          color: #999999;
          display: block;
          text-decoration: none;
        }
        .sidebar-nav li a:hover {
          color: #fff;
          background: rgba(255,255,255,0.2);
          text-decoration: none;
        }
        .sidebar-nav li a:active,
        .sidebar-nav li a:focus {
          text-decoration: none;
        }
    .sidebar-nav > .sidebar-brand {
      height: 65px;
      line-height: 60px;
      font-size: 18px;
    }
        .sidebar-nav > .sidebar-brand a {
          color: #999999;
        }
        .sidebar-nav > .sidebar-brand a:hover {
          color: #fff;
          background: none;
        }
@media (max-width: 850px){
    #simple-menu{
        /*display: none;*/
    }
}
.button-toggle {
    margin-top: 8px;
    
}
.toggle-sidr{
    font-size: 3em;
    color: #333;
}

/*------------------------------------*\
    $GRAFICOS
\*------------------------------------*/

#dieta-now, #rutina-now, #progress{
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/*------------------------------------*\
    $OTROS
\*------------------------------------*/

.padding-null{
    padding: 0 !important;
}
.margin-auto{
    margin: auto;
}
.font-bold{
    font-weight: bolder;
}

/*------------------------------------*\
    $OTROS
\*------------------------------------*/
.clients-button{
    display: block;
    width: 7%;
    padding: 10px 20px;
    color: #fff;
    background: #7F004C;
    text-decoration: none;
    cursor: pointer;
    margin-left: -10px;
    margin-top: -2px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    background: linear-gradient(to right, rgba(34,34,34,1), rgba(34,34,34,0.7));
}
.clients-button:hover{
    text-decoration: none; 
    color: #FFF;
}
.info-list{
    margin-top: 15px;
}
.img-user-cont{
    margin: auto;
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
}
.logo-content{
    position: absolute;
    width: 294px;
    height: 7px;
}

/*------------------------------------*\
    $PLUGIN SIDR MODS
\*------------------------------------*/

.sidr {
    box-shadow: none;
    background: #222;
    top: 57px;
    width: 15%;
}
    .sidr.left {
        left: -300px;
    }
    .sidr ul li a, .sidr ul li span {
        color: #999;
        padding-top  : 5%;
        padding-right: 10%;
    }
.sidebar-nav li a:hover {
    background: #222;
}

/*------------------------------------*\
    $THEME MODS
\*------------------------------------*/

#page-wrapper {
    margin-top: 0;
    transition: 0.2s linear;
}
li a span {
    padding-top: 5%;
}

/*------------------------------------*\
    $TABS PLUGIN
\*------------------------------------*/

.tabs {
    overflow: auto;
    margin: 1em 0 0;
    list-style: none;
    padding-left: 0px; 
}

    .tabs>li {
      width: 33.33%;
      float: left;
      box-sizing: border-box;
      border-color: #fff;
      border-width: 0 0 0 1px;
      border-style: solid;
    }

        .tabs>li:first-child {
          border-width: 0;
        }

    .tabs>li>a {
      border-top-left-radius : 7px;
      border-top-right-radius: 7px;       
      display: block;
      width: 100%;
      padding: 10px 20px;
      color: #fff;
      background-color: #7F004C ;
      border: none;
    }

        .r-tabs-state-active>a {
          color: #fff;
          background-color: #400026 !important;
        }

    .r-tabs-panel {
        background-color: #400026;
        border-bottom: 1px solid black;
        border-left  : 1px solid black;
        border-right : 1px solid black;
        border-bottom-left-radius : 7px;
        border-bottom-right-radius: 7px;  
        padding-bottom: 30px;
    }
/*------------------------------------*\
    $BOOTSTRAP MODS
\*------------------------------------*/

.panel {
    margin-top: 25px;
    margin-bottom: 0;
}
.row {
    margin-right: 0;
    margin-left : 0;
}
.panel-heading{
    border-top-left-radius : 7px;
    border-top-right-radius: 7px;   
}
.panel-primary{
    border: none;
    border-top-left-radius : 7px;
    border-top-right-radius: 7px;     
}
    .panel-primary > .panel-heading {
        background-color: #7F004C;
        border-color: #222;
    }
.panel-body {
    padding: 15px;
    border: 1px solid #222;
    background-color: #FFF;
    margin: 0 auto;
}
