{% load crispy_forms_tags %}
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/steps.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="{% static 'js/djangoajax.js' %}"></script>
        <script src="{% static 'js/jquery.steps.js' %}"></script>
        <script src="{% static 'js/jquery.validate.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>       
        <script src="{% static 'js/main.js' %}"></script>
        <script>
        $( document ).ready(function() { 
            var form = $("#example-form");
            form.validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
            });
            form.children(".container").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                cssClass: "wizard",
                onStepChanging: function (event, currentIndex, newIndex){
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onFinishing: function (event, currentIndex){
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex){
                    alert("Submitted!");
                }
            });
        }); 
        </script>
        <style>
            .wizard>.content>.body .radio, .wizard>.content>.body .checkbox {
                display: block;
                margin-left: 20px;
            }
        </style>
        <title>Welofit</title>
    </head>

<form id="example-form" action="#">
    <div class="container">
        <h3 class="sr-only">Account</h3>
            <section>
                {% crispy form_user %}
            </section>
        <h3 class="sr-only">Fitness</h3>
            <section>
                {% crispy form_fitness %}
            </section>   
        <h3 class="sr-only">Body</h3>
            <section>
                {% crispy form_body %}
            </section>       
    </div>
</form>  

</html>  