{% load crispy_forms_tags %}
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <script src="https://code.jquery.com/jquery-2.2.1.js"></script>
        <script src="{% static 'js/djangoajax.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <title>Diets Generator</title>
    </head>
    <body>
       <div class="container">
            <h1>Created new diet</h1>
            <form id="search_input"  action="/diets/sol/" method="get">
               <fieldset>
                   <legend>Search</legend>
                    <input class="form-control dl_food" list="id_food_all" name="q">
                    <div class="datalist-content dl">{{form}}</div>
                    <!--<input class="btn btn-default col-sm-2 col-sm-offset-5 buscar" type="submit" value="Buscar">-->
                </fieldset>
                <p class="resultado"></p>
            </form>
            <form action="/diets/" method="post">{% csrf_token %}

                {% crispy form1 %}
  
            </form>
            <h3>{{ output_html }}</h3>
        </div>
    </body>
</html>